@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39; /* #111827 */
  --background-start-rgb: 249, 250, 251; /* #F9FAFB */
  --background-end-rgb: 249, 250, 251;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Pretendard', sans-serif;
}
